@use '../../../../../app.scss';

@use '../../../../../../scss/lib/property';

@use '~scss-toolkit/src/mixin/theme';

.container {
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: auto 1fr;
}

.container span {
  font-size: 25px;
  display: flex;
  width: property.get('size', 'img', 'icon');
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: property.get('borderLimit', 'regular');

  @include theme.themeHandler(true, 'alert', 'inform', 'icon') {
    background-color: theme.get('background');
    color: theme.get('color');
  }
}

.container p {
  border-radius: property.get('borderRadius', 'regular');
  padding: property.get('borderLimit', 'verySmall');
  height: fit-content;

  @include theme.themeHandler(true, 'alert', 'inform') {
    background-color: theme.get('background');
    color: theme.get('color');
  }
}
