@use '../../../../app.scss';

@use '../../../../../scss/lib/property';

@use '~scss-toolkit/src/mixin/theme';

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .wrapper {
  width: property.get('size', 'page');
  border-radius: property.get('borderRadius', 'rounded');
  overflow: hidden;
  display: grid;
  grid-template-areas:
    'a'
    'b';
  box-shadow: property.get('shadow', 'box', 'regular');

  @include theme.themeHandler(true, 'isolatedElement') {
    background-color: theme.get('background');
  }
}

section .wrapper h2 {
  padding: property.get('borderLimit', 'regular');
  border-bottom-left-radius: property.get('borderRadius', 'rounded');
  border-bottom-right-radius: property.get('borderRadius', 'rounded');
  text-align: center;
  margin-bottom: -1 * property.get('borderRadius', 'rounded');
  z-index: 1;

  @include theme.themeHandler(true, 'isolatedElement', 'title') {
    background-color: theme.get('background');
  }
}

section .wrapper .sub {
  display: flex;
  flex-direction: column;
  row-gap: property.get('borderLimit', 'big');
  padding: property.get('borderLimit', 'regular');
  padding-top: property.get('borderLimit', 'regular') + property.get('borderRadius', 'rounded');
}

section .wrapper .sub .line {
  display: grid;
  grid-template-areas: 'a b';
  align-items: center;
  grid-template-columns: 1fr auto;
  column-gap: property.get('borderLimit', 'big');
}

section .wrapper .sub .line .container {
  display: grid;
  grid-template-areas: 'a b';
  column-gap: property.get('borderLimit', 'small');
}

section .wrapper .sub .line h3,
section .wrapper .sub p {
  box-sizing: border-box;
  padding: property.get('borderLimit', 'regular');
  border-radius: property.get('borderRadius', 'rounded');

  @include theme.themeHandler(true, 'isolatedElement', 'item') {
    background-color: theme.get('background');
  }
}
