@use '../../../app.scss';

@use '../../../../scss/lib/property';

@use '~scss-toolkit/src/mixin/theme';

.container {
  width: 100%;
  height: 100%;
  border-radius: property.get('borderRadius', 'rounded');
  padding: property.get('borderLimit', 'regular');
  box-sizing: border-box;
  overflow: auto;

  @include theme.themeHandler(true, 'isolatedElement') {
    background-color: theme.get('background');
  }
}

.container .message:not(:first-child) {
  margin-top: property.get('borderLimit', 'verySmall');
}
