@use '../../../../../../scss/lib/property';

section {
    height: 100%;
}

section .grid {
    height: 100%;
    display: grid;
    grid-template-areas:
        'a c'
        'b c';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: property.get('borderLimit', 'big');
    column-gap: property.get('borderLimit', 'big');
}

section .grid .area-a {
    grid-area: a;
}

section .grid .area-b {
    grid-area: b;
    overflow: hidden;
}

section .grid .area-c {
    grid-area: c;
}