@use '../../list.interactive.shared.scss';

@use '../../../../../../scss/lib/property';

@use '~scss-toolkit/src/mixin/theme';

.container {
  border-radius: property.get('borderRadius', 'rounded');
  padding: property.get('borderLimit', 'regular');

  @include theme.themeHandler(true, 'isolatedElement', 'item') {
    background-color: theme.get('background');
  }
}

.container .top {
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 1fr auto;
  align-items: center;
  cursor: pointer;

  @include theme.themeHandler(true, 'isolatedElement', 'item') {
    color: theme.get('color');
  }
}

.container:not(.icon-only) .subTabs {
  display: flex;
  flex-direction: column;
  row-gap: property.get('borderLimit', 'small');
}

.container.icon-only .subTabs {
  display: flex;
  column-gap: property.get('borderLimit', 'small');
}
