@use 'scss-toolkit/src/mixin/element';

@use '../../lib/property';
@use '../../lib/definition';

@include element.createElement('button') {
    @include definition.setAttrBorderRadius() {
    }

    @include element.defineContent() {
        display: flex;
        align-items: center;
        column-gap: property.get('borderLimit', 'small');
        font-size: property.get('fontSize', 'sideElement', 'text');
        white-space: nowrap;
        cursor: pointer;
        font-family: property.get('font', 'regular');
        display: flex;
        justify-content: flex-end;
    }

    @include definition.definePropertyDisabled() {
    }

    @include element.defineProperty('::after') {
        display: none;
    }

    @include element.createSubsection('show-after=true') {
        @include element.defineProperty('::after') {
            display: block;
            position: absolute;
            width: property.get('fontSize', 'comment');
            height: property.get('fontSize', 'comment');
            display: inline-flex;
            border-radius: 50%;
            padding: property.get('borderLimit', 'verySmall');
            font-size: property.get('fontSize', 'comment');
            justify-content: center;
            align-items: center;
            justify-self: end;
            align-self: start;
            margin-right: -1 * property.get('fontSize', 'comment') / 2;
            margin-top: -1 * property.get('fontSize', 'comment') / 2;
        }
    }

    @include element.createTag('inter', ' ') {
        @include element.defineContent() {
            display: flex;
            padding: property.get('borderLimit', 'small') + property.get('borderLimit', 'verySmall');
        }

        @include element.createTag('icofont', ' ') {
            @include element.defineContent() {
                font-size: property.get('fontSize', 'sideElement', 'icofont');
            }
        }
    }

    @include element.createSubsection('important') {
        @include element.defineContent() {
            font-size: property.get('fontSize', 'sideElement', 'important', 'text');
        }

        @include element.createTag('inter', ' ') {
            @include element.createTag('icofont', ' ') {
                @include element.defineContent() {
                    font-size: property.get('fontSize', 'sideElement', 'important', 'icofont');
                }
            }
        }
    }
}
