@use '../../../../../app.scss';

@use '../../../../../../scss/lib/property';

@use '~scss-toolkit/src/mixin/theme';

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .wrapper {
  width: property.get('size', 'aside');
  border-radius: property.get('borderRadius', 'rounded');
  overflow: hidden;
  box-shadow: property.get('shadow', 'box', 'regular');

  @include theme.themeHandler(true, 'isolatedElement') {
    background-color: theme.get('background');
  }
}

section .wrapper .field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: property.get('borderLimit', 'regular');

  @include theme.themeHandler(true, 'isolatedElement', 'title') {
    color: theme.get('color');
  }
}
