@use '../../../../scss/lib/property';

.cpt p{
    text-align: center;
}

.container {
    width: property.get('size', 'avatar', 'width');
    height: property.get('size', 'avatar', 'height');
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}