@use '../../../../scss/lib/property';

.container {
    width: property.get('size', 'avatar', 'width');
    height: property.get('size', 'avatar', 'height');
    display: block;
    overflow: hidden;
}