@use '../../../app.scss';

@use '../../../../scss/lib/property';

@use 'scss-toolkit/src/mixin/theme';

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper .container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: property.get('borderLimit', 'big');
}

.wrapper .container-1.true {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(property.get('blur', 'regular'));
  z-index: 1;
}

.wrapper .container-1.ghost {
  opacity: 0;
}

.wrapper .container-1 .button {
  display: flex;
  align-items: center;
  column-gap: property.get('borderLimit', 'big');
}

.wrapper .container-2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: property.get('borderLimit', 'big');
  overflow: scroll;
}

.wrapper .container-2 .box {
  width: 100%;
  height: 100%;
}