@use '../../../../../../scss/lib/property';

section {
    display: grid;
    grid-template-rows: auto 1fr;
}

section form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section form .field {
    display: flex;
    flex-direction: column;
}

section form .field:not(:first-child) {
    margin-top: property.get('borderLimit', 'big');
}