@use '../../../../../scss/lib/property';

.container {
  display: inline-grid;
  grid-template-areas: "a b"
  "c c";
  align-items: center;
  overflow: hidden;
}

.container input {
  grid-area: 1;
  margin-left: property.get('borderLimit', 'small');
}

.container .line {
  grid-area: c;
}

.container span {
  grid-area: b;
  margin: property.get('borderLimit', 'small');
}