@use '../../../../app.scss';

@use '../../../../../scss/lib/property';

@use 'scss-toolkit/src/mixin/theme';

section {
  height: 100%;
}

section .box .grid {
  height: 100%;
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 1fr 1fr;
  row-gap: property.get('borderLimit', 'big');
  column-gap: property.get('borderLimit', 'big');
}

section .box .grid .area-a {
  grid-area: a;
}

section .box .grid .area-b {
  grid-area: b;
}

section .box .grid .area-b .text {
  text-align: justify;
}
